button {
  margin: 10px 10px;
  padding: 10px 31px;
}

#buttons {
  align-items: center;
  background-color: orange;
}

#buttons, h1, h4, #map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 550px;
}

#content {
  font-family: Courier;
  font-size: 9px;
}

h1 {
  background-color: orange;
  color: white;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  padding-top: 10px;
}

h1, h4 {
  font-family: Arial;
  text-align: center;
}

#map {
  height: 550px;
  width: 550px;
}
